* {
  font-family: Lato;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.navs {
  display: flex;
}

header {
  background-color: lightblue;
  padding: 20px 0;
  margin-bottom: 14px;
}

.y-wrap {
  width: 90%;
  margin: 0 auto;
}

.navs li {
  margin-left: 14px;
}

.navs li:first-of-type {
  margin-left: 0
}